@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Spline+Sans+Mono:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@600&family=Roboto+Serif:ital,opsz,wght@0,8..144,500;1,8..144,800&family=Roboto:wght@500&family=Yanone+Kaffeesatz&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 60px;
    text-align: center;
    background: #C2DED1;
    color: white;
    display: flex;
    font-size: 25px;
    background-attachment: fixed;
}

.header img{
    height: 270px;
    width: 270px;
}

.header-text{
    font-family: 'Ibarra Real Nova', serif;
    margin-left:100px;
    text-align: justify;
}

.header-text button {
    margin-top: 25px;
    padding: 10px;
    border: none;
    width: 150px;
    border-radius: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    transition: 0.2s;
}

.header-text button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.header-text .kimochi {
    color: black;
}

body{ 
    background-color: #ECE5C7;
}

main {
    text-align: justify;
    margin: 45px;
    margin-top: 15px;
}

main h2 {
    font-size: 30px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.playlist-song{ 
    margin-left: 50px;
    margin-top: 25px;
    display: flex;
}

.playlist-song img {
    height: 175px;
    width: 175px;
    box-shadow: 2px 2px 15px 1px black;
    transition: 0.5s;
}

.playlist-song img:hover {
    transform: scale(1.2);
}

.playlist-song-text {
    margin-top: 0px;
    margin-left: 55px;
    font-family: Roboto, sans-serif;
}

.playlist-song-text p {
    font-family: 'Spline Sans Mono', sans-serif;
    width: 1000px;
    height: 175px;
    font-weight: 500
}

.playlist-song-text a {
    color: darkblue;
}

.playlist-song-text a:hover {
    transform: scale(1.0);
}

@media screen and (max-width:755px) {
    .header {
        padding: 10px;
        display: block;
    }
    .header img {
        height: 250px;
        width: 250px;
    }
    .header-text {
        margin-left: 15px;
        text-align: center;
    }
}

@media screen and (max-width:679px) {
    .header img {
        height: 150px;
        width: 150px;
    }
    .header-text {
        font-size: 22.5px;
    }
    .header-text button{
        width: 105px;
        padding: 7px;
    }
    .playlist-song img:hover {
        transform: scale(1);
    }
}

@media screen and (max-width:1329px) {
    .playlist-song{ 
        margin-left: 50px;
        margin-top: 25px;
    }
    
    .playlist-song-text {
        margin-left: 55px;
        font-family: Roboto, sans-serif;
    }
    
    .playlist-song-text p {
        font-family: 'Spline Sans Mono', sans-serif;
        width: fit-content;
        height: fit-content;
    }
}

@media screen and (max-width:679px) {
    .header-text{
        font-size: 22.5px;
    }

    .playlist-song{
        display: block;
    }

    .playlist-song-text {
        margin: 0px;
        width: 250px;
        font-size: smaller;
    }

    .playlist-song img {
        margin-bottom: 10px;
    }

    .playlist-song img:hover {
        transform: scale(1);
    }

    .playlist-song-text a h2{
        font-size: 25px;
        font-style: normal;
    }

    main h2 {
        font-size: 22.5px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
    }
}